/*html { 
    height: 100%;
}*/
/*body { 
    height: 100%; 
    padding: 0;
}*/
#defaultMenu {
    /*border: 1px solid #4D4D4D;*/
    width: 85%;
    height: 40px;
    text-align: center;
    margin: 0 auto;
    background-color: #147BEA;
    border-radius: 5px;
}
#display {
    background-color: #CCCCCC;
    border: 1px solid black;
    width: 800px;
    height: auto; /*Aventually this needs to be set to auto */
    margin: 0 auto;
    font-family: sans-serif;
    text-align: center;
}
#display-tbls {
    border-bottom: 1px solid black;
    height: auto;
    width: 100%;
    /*margin: 0 auto;*/
    /*overflow: auto;*/
    
}
#display-tblsInfo {
    border: 1px solid black;
    height: 50%;
    width: 100%;
    margin: 0 auto;
}
.button {
    color: white; /* makes font color white */
    width: 100px;
    height: 33px;
    /*margin: 0 auto;*/
    margin-left: 10px;
    line-height: 33px;
    font-family: sans-serif;
    background-color: #3287CC; /*0E549E*/
    border: 4px outset #003DBF;
    border-radius: 3px;
    cursor: pointer;
    z-index: 0;
}
.btn {
    text-align: right;
    border: 1px solid black;
}
.container {
    font-family: sans-serif;
}
.editBtn {
    width: 55px;
    height: 20px;
}
.txtContainer {
    border: 1px solid black;
}
.foo {
    /*74B93E*/
    background-color: white;
    color: black; /* makes font color white */
    width: 85%;
    height: 80px;
    margin: 0 auto; /*centers the whole div element.*/
    border-bottom: 1px solid #D6B318;
    line-height: 25px; /*makes the text center vertically, may not work in multi-line.*/
    cursor: pointer; /*makes the div element act like a button.*/
    border-radius: 10px;
}
.fooTimes {
    background-color: white;
    border-bottom: 1px solid black;
    width: 85%;
    height: auto;
    margin: 0 auto;
    line-height: 25px;
    border-radius: 5px;
}
.txtBxTimes {
    color: #CCCCCC;
    width: 100px;
    text-align: center;
}
.maxMinBtn {
    border-radius: 5px;
    text-align: center;
    margin-right: 5px;
    cursor: pointer;
    color: white;
    /*background-color: red;*/
    width: 25px;
    height: auto;
    float: right;
}
